.articles
    position: relative
    margin-top: 70px
    &-tabs
        margin-top: 33px
        padding-bottom: 20px
    &__list
        display: flex
        justify-content: space-between
        padding-bottom: 50px
    &-item
        width: 24%
        &:last-child
            margin-right: 0
        &__img
            margin-bottom: 15px
            width: 100%
            background: #F7F9F9
            border-radius: 5px
            overflow: hidden
            padding-bottom: 100%
            background: center / cover no-repeat
        &__date 
            margin-bottom: 4px
            font-weight: 500
            font-size: 1.2rem
            color: #8E9696
        &__title 
            margin-bottom: 15px
            font-weight: 600
            font-size: 1.6rem
            line-height: 1.3125em
    .swiper-pagination
        bottom: 0
        padding: 10px
        display: flex
        justify-content: center
    .swiper-pagination-bullets .swiper-pagination-bullet
        margin: 0 15px
    .swiper-pagination-bullet-active
        position: relative
        background: $main
        transition: all 0.2s
        &::after
            content: ''
            position: absolute
            top: -100%
            left: -100%
            width: 24px
            height: 24px
            border: 1px solid $main
            border-radius: 50%

@media (max-width: 991px)
    .articles
        margin-top: 40px
                