.calculator
    &__wrapper
        margin-top: 33px
        display: flex
        padding: 30px
        background: $gray
        border-radius: 5px
    &-range
        min-width: 540px
        padding: 23px
        margin-right: 85px
        background: #FFFFFF
        border-radius: 5px
    &-info
        &__culc
            margin-bottom: 25px
            width: 315px
        &__item
            margin-bottom: 15px
            display: flex
            justify-content: space-between
            align-items: center
            font-weight: 600
            font-size: 1.8rem
            color: $txt-color
            &:last-child
                margin-bottom: 0
            &--name
                font-weight: 500
                color: #8E9696
        &__descr
            margin-bottom: 20px
            font-weight: 500
            font-size: 1.2rem
            color: #464848
        &__btn
            margin-left: 10px
        
