.detail-page
    padding-top: 55px
    &-head
        background: linear-gradient(90deg, #F0F4F4 0%, #E8EFEF 100%)
        &__wrapper
            display: flex
            padding: 55px 0
        &__content
            width: 50%
            padding-right: 100px
        &__top
            display: flex
            align-items: center
        &__bottom
            margin-top: 34px
            display: flex
            justify-content: space-between
        &__bank-name
            position: relative
            font-weight: 500
            font-size: 14px
            color: $txt-color
            padding-left: 26px
            &::before
                content: ''
                position: absolute
                top: 0
                left: 0
                width: 16px
                height: 16px
                background: url('../images/icons/museum.svg')
                background-size: cover 
                background-repeat: no-repeat
        &__rating
            margin-left: 37px
            font-size: 1.6rem
            color: $txt-color
        &__title
            font-weight: bold
            font-size: 4rem
            color: $txt-color
        &__info
            padding: 20px 0 17px 0
            display: flex
            flex-wrap: wrap
        &__block 
            width: 33.33%
            margin-bottom: 18px
        &__txt
            display: block
            font-weight: 500
            font-size: 1.4rem
            color: #8E9696
        &__sum
            display: block
            font-weight: bold
            font-size: 1.6rem
            color: $txt-color
        &__img 
            width: 50%
            display: flex
            align-items: center
            justify-content: flex-end
            img 
                max-width: 100%
                background: url(../images/card-bg-dark.svg) no-repeat
                background-size: 77%
                background-position-x: center
                background-position-y: 0
                padding: 45px 0 0 0
        &__form 
            display: flex
        &__input
            font-family: 'Gilroy'
            padding: 20px 25px
            margin-right: 10px
            flex: 1
            background: #FFFFFF
            border: 1px solid #DEE9E8
            box-shadow: 0px 17px 35px rgba(0, 0, 0, 0.04)
            border-radius: 30px
            font-weight: 500
            font-size: 1.4rem
            &::-webkit-input-placeholder
                color:#9CABAB
            &::-moz-placeholder
                color:#9CABAB
            &:-moz-placeholder
                color:#9CABAB
            &:-ms-input-placeholder
                color:#9CABAB
        &__quantity
            font-weight: 500
            font-size: 1.4rem
            color: #8E9696
            span 
                margin-left: 8px
                font-weight: bold
                font-size: 1.6rem
                color: $txt-color
    &__wrapper
        display: flex
        align-items: flex-start
    &__content
        width: 65%
        margin-right: 90px
    &__anchor
        margin-bottom: 20px
        display: inline-block
        padding: 12px 20px
        background: #AFC9C9
        border-radius: 20px
        font-weight: bold
        font-size: 1.2rem
        color: #FFFFFF


@media ( max-width: 1170px )
    .detail-page-head__content
        padding-right: 0
    .detail-page-head__img img 
        max-width: 80%
        padding-top: 35px 
    .detail-page__content
        margin-right: 50px

@media ( max-width: 991px )
    .detail-page-head__wrapper
        flex-direction: column-reverse
        padding: 44px 0
    .detail-page-head__content,
    .detail-page-head__img
        width: 100%
    .detail-page-head__img
        display: flex
        justify-content: center
    .detail-page__wrapper
        flex-direction: column
    .detail-page__content 
        width: 100%
        margin-right: 0

@media ( max-width: 768px )
    .detail-page-head__title
        font-size: 2.5rem
    .detail-page-head__img img 
        max-width: 100%

@media ( max-width: 576px )
    .detail-page-head__form
        flex-direction: column
    .detail-page-head__info 
        justify-content: space-between
    .detail-page-head__block
        width: 47%
    .detail-page-head__input
        margin-bottom: 10px 
        margin-right: 0
    .detail-page-head__bottom 
        margin-top: 25px
        flex-direction: column
        align-items: center
    .detail-page-head__quantity
        margin-top: 20px