.footer 
    background: #F0F4F4
    &__wrapper
        padding: 38px 0 28px 0
    &-head
        margin-bottom: 32px
        display: flex
        justify-content: space-between
        align-items: center
        &__info
            padding-left: 60px
    &-bottom
        text-align: center

.footer-bottom__info,
.footer-head__info,
    font-weight: 500
    font-size: 1.2rem
    color: #7F8584

.footer-policy a,
.footer-agreement a,
    font-weight: 500
    font-size: 1.2rem
    color: #7F8584
    transition: color 0.2s
    &:hover
        color: $main


@media ( max-width: 1024px )
    .footer 
        &-head
            flex-direction: column
            &__info 
                padding-top: 10px
                padding-left: 0
    .footer-logo
        margin-bottom: 23px
    .footer-policy,
    .footer-agreement
        margin-bottom: 14px
    .footer-soc
        margin-top: 15px