.tariffs
    &__wrapper
        margin-top: 20px
    &-item 
        display: flex
        justify-content: space-between
        margin-bottom: 10px
        padding: 16px 20px
        background: #F7F9F9
        border-radius: 5px
        &__txt
            font-weight: 600
            font-size: 1.4rem
            color: #7F8584
        &__descr
            text-align: right
            font-weight: 600
            font-size: 1.4rem
            color: $txt-color

